<%- include('../parts/layout-header', { title: title }) %>

<main>
  <%- include('./form', { readonly: true }) %>
  <div class="container">
    <a href="/books/update/<%= book.id %>" class="btn btn-primary">Edit</a>
    <a href="/books/delete/<%= book.id %>" class="btn btn-danger">Delete</a>
  </div>
</main>

<%- include('../parts/layout-footer') %>
